<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @category.short_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Special instructions:</strong>
  <%= @category.special_instructions %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
